# 자동으로 관련 패키지 설치
auto-install-peers=true 

# lefthook이 캐시를 사용하지 않도록 설정
side-effects-cache=false 

# 모노레포 최적화 설정
link-workspace-packages=true
prefer-workspace-packages=true
save-workspace-protocol=true
